@model ValeActivitiesCentre.Models.Booking

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Book Activity";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <div class="jumbotron">
        <h3>Booking Summary</h3>
    </div>

    <hr />

    @Html.DisplayNameFor(model => model.FirstName)
    <br />
    @Html.DisplayFor(model => model.FirstName)
    <hr />

    @Html.DisplayNameFor(model => model.LastName)
    <br />
    @Html.DisplayFor(model => model.LastName)
    <hr />

    @Html.DisplayNameFor(model => model.ActivityName)
    <br />
    @Html.DisplayFor(model => model.ActivityName)
    <hr />
    
    
    <div class="form-group">
        @Html.DisplayNameFor(model => model.Day)
        <br />
        @Html.DisplayFor(model => model.Day)

        @Html.DisplayNameFor(model => model.Time)
        <br />
        @Html.DisplayFor(model => model.Time)
        <hr />
        
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.ActivitySlotNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ActivitySlotNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ActivitySlotNumber, "", new { @class = "text-danger" })
        </div>
        <input type="submit" name="CheckAvailability" value="Check Availability" class="btn btn-info" />
    </div>

    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.EmailSent, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.EmailSent)
                @Html.ValidationMessageFor(model => model.EmailSent, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    @*<div class="form-group">
                @Html.LabelFor(model => model.ClientID, "ClientID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClientID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClientID, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Confirm Booking" class="btn btn-success" />
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("Back to Activities", "ActivitiesList", "Home")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
