@model IEnumerable<ValeActivitiesCentre.Models.Staff>

@{
    ViewBag.Title = "Staff Details";
}

<div class="jumbotron">
    <h2>Vale Activities Centre - Staff Portal</h2>
    <h3>@ViewBag.Title</h3>
</div>

<p>
    @Html.ActionLink("Add New Staff Member", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StaffID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StaffID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Person.LastName)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profile)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.StaffID }, new { @class = "btn btn-success" })
            @Html.ActionLink("Details", "Details", new { id = item.StaffID }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id = item.StaffID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
